.eventnode {

    padding: 10;
    border: 1px solid black;
    min-width: fit-content;
    min-height: fit-content;
}
.selection-button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 20px;
}